
body {
    margin: 0%;
    background-color: rgb(128, 151, 151);
}

.section {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    background-color: rgb(255, 255, 255);
}

/* Hero */
.hero {
    background-image: url("./assets/img/bg-3.jpg");
    height: 55rem;
    background-position: right center;
    background-size: cover;
    border: 1px solid transparent;
}

.header-nav {
    text-align: right;
    margin: 1rem 1rem;
}

.header-nav-item {
    list-style: none;
    padding: 1rem;
    margin-left: 1rem;
    display: inline-block;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.4);

    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7rem;
    color:aliceblue;

}

.header-nav-item:hover {
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    margin-top: 20rem;
    text-align: center;
}

.title {
    font-size: 5rem;
    color: azure;
    text-shadow: 2px 2px black;
}

.header-button {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: 16rem;
    margin: auto;
    padding: 1rem 0;
    border-bottom: 0.2rem solid white;
}

/* Slider */

.card-item {
    display: inline-block;
    list-style: none;
}


/* Description */

#description {
    background-color: white;
}

.description-content {
    padding: 0.3rem;
    margin: 0.5rem;
}

.description-content > h4 {
    
    background-color: rgb(237, 237, 237);
    border-bottom: 0.1rem solid rgb(92, 87, 87);
    padding: 1rem;
}

/* Footer */

footer {
    height: 5rem;
    background-color: rgb(92, 87, 87, 0.5);
}

footer > p {
    text-align: center;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    line-height: 5rem;
}